# Assignment: Working with Data

>Using the data below, answer the following questions:

>1) Which entities (top 5) had the largest population density in 2020?
>2) Which entities have more water area than land area?
>3) Which entities increased in population the most in the last 10 years?
>4) What state bird accounts for the largest population as of 2020? Land area?
>5) How many entities' largest city is their capital city?
>6) Which city has the largest percent drop from their largest city to their 5th largest? 100*(1st largest - 5th largest)/(1st largest)

In [5]:
import pandas as pd

In [11]:
facts = pd.read_csv('../data/state_facts.tsv',delimiter="\t")
#facts.head(5)

In [12]:
#1. 
facts['Popdensity']=facts['Pop_2020']/facts['Area_tot']
print(facts.sort_values(by='Popdensity',ascending=False).head(5))
#District of Columbia, New Jersey, Rhode Island, Massachusetts, Connecticut

                     State  Area_tot  Area_land  Area_water   Pop_2020  \
9    District of Columbia        177        158          19   689545.0
32             New Jersey      22591      19047        3544  9288994.0
43           Rhode Island       4001       2678        1324  1097379.0
23          Massachusetts      27336      20202        7134  7029917.0
7             Connecticut      14357      12542        1816  3605944.0

    Pop_2010 Rep_seats                               State_bird  \
9     601723       1*                              Wood thrush
32   8791894        12  Eastern goldfinch (American goldfinch)
43   1052567         2                        Rhode Island Red
23   6547629         9                  Black-capped chickadee
7    3574097         5                          American robin

             State_flower                                 State_motto  ...  \
9   American Beauty Rose                            Justitia Omnibus   ...
32                Violet                      Liberty and Prosperity   ...
43                Violet                                        Hope   ...
23             Mayflower   Ense petit placidam sub libertate quietem   ...
7         Mountain laurel                    Qui transtulit sustinet   ...

   city_1_pop        City_2  city_2_pop        City_3 city_3_pop      City_4  \
9      702455           NaN         NaN           NaN        NaN         NaN
32     282090  Jersey City     265549.0     Paterson    145627.0  Elizabeth
43     179883     Cranston      81274.0      Warwick     80847.0  Pawtucket
23     692600    Worcester     185877.0  Springfield    155032.0  Cambridge
7      144900    New Haven     130418.0     Stamford    129775.0   Hartford

   city_4_pop            City_5 city_5_pop   Popdensity
9         NaN               NaN        NaN  3895.734463
32   128885.0           Edison    100008.0   411.181178
43    71847.0  East Providence     47476.0   274.276181
23   118977.0           Lowell    111670.0   257.166996
7    122105.0        Waterbury    108093.0   251.162778

[5 rows x 27 columns]

In [8]:
#2.
facts[(facts['Area_water']>facts['Area_land'])]

,State,Area_tot,Area_land,Area_water,Pop_2020,Pop_2010,Rep_seats,State_bird,State_flower,State_motto,...,city_1_pop,City_2,city_2_pop,City_3,city_3_pop,City_4,city_4_pop,City_5,city_5_pop,Popdensity
2,American Samoa,1505,198,1307,49437.0,55519,1*,None,Paogo (Ulafala),"Samoa, Muamua Le Atua",...,7945,Nu'uuli,3955.0,Pago Pago,3656.0,'Ili'ili,3195.0,Pava'ia'i,2450.0,32.848505
12,Guam,1478,543,935,168.4,159358,1*,Guam rail (ko'ko'),Bougainvillea spectabilis,Where America's Day Begins,...,44943,Yigo,20539.0,Tamuning,19685.0,Mangilao,15191.0,Barrigada,8875.0,0.113938
37,Northern Mariana Islands,5117,472,4644,51.0,53883,1*,Mariana fruit-dove,Flores mayo,NaN,...,48220,Tinian2,3136.0,Rota2,2527.0,Northern Islands2,0.0,NaN,NaN,0.009967
48,United States Virgin Islands,1898,348,1550,106235.0,106405,1*,California gull,Yellow Elder,United in Pride and Hope,...,18481,Sion Farm,13003.0,Northside,10049.0,East End,5128.0,Southcentral,3277.0,55.972076

In [9]:
#3.
facts['increase'] = facts['Pop_2020']-facts['Pop_2010']
print(facts.sort_values(by='increase',ascending=False).head())
#Texas, Florida, California, Georgia, Washington

           State  Area_tot  Area_land  Area_water    Pop_2020  Pop_2010  \
47        Texas     695662     676587       19075  29145505.0  25145561
10      Florida     170312     138887       31424  21538187.0  18801310
5    California     423967     403466       20501  39538223.0  37253956
11      Georgia     153910     148959        4951  10711908.0   9687653
52   Washington     184661     172119       12542   7705281.0   6724540

   Rep_seats                              State_bird         State_flower  \
47        38                   Northern mockingbird       Bluebonnet sp.
10        28                   Northern mockingbird        Orange blossom
5         52                       California quail     California poppy
11        14                         Brown thrasher         Cherokee rose
52        10  Willow goldfinch (American goldfinch)   Coast rhododendron

                     State_motto  ...        City_2 city_2_pop     City_3  \
47                   Friendship   ...  San Antonio   1532233.0    Dallas
10              In God we trust   ...        Miami    476329.0     Tampa
5                        Eureka   ...    San Diego   1425976.0  San Jose
11  Wisdom, Justice, Moderation   ...      Augusta    196939.0  Columbus
52                        Al-ki   ...      Spokane    219190.0    Tacoma

    city_3_pop          City_4  city_4_pop           City_5  city_5_pop  \
47   1356785.0         Austin     978908.0      Fort Worth     902938.0
10    401189.0        Orlando     289191.0  St. Petersburg     265098.0
5    1030119.0  San Francisco     884198.0          Fresno     530093.0
11    194160.0          Macon     153095.0        Savannah     147181.0
52    216279.0      Vancouver     183012.0        Bellevue     147599.0

    Popdensity   increase
47   41.896072  3999944.0
10  126.463121  2736877.0
5    93.257784  2284267.0
11   69.598519  1024255.0
52   41.726629   980741.0

[5 rows x 28 columns]

In [17]:
#4.
facts.sort_values(by='Pop_2020',ascending=False).head()
#California Quail, Northern Mockingbird, Northern Mockingbird, Eastern Bluebird, Ruffed Grouse

,State,Area_tot,Area_land,Area_water,Pop_2020,Pop_2010,Rep_seats,State_bird,State_flower,State_motto,...,city_1_pop,City_2,city_2_pop,City_3,city_3_pop,City_4,city_4_pop,City_5,city_5_pop,Popdensity
5,California,423967,403466,20501,39538223.0,37253956,52,California quail,California poppy,Eureka,...,3997984,San Diego,1425976.0,San Jose,1030119.0,San Francisco,884198.0,Fresno,530093.0,93.257784
47,Texas,695662,676587,19075,29145505.0,25145561,38,Northern mockingbird,Bluebonnet sp.,Friendship,...,2325502,San Antonio,1532233.0,Dallas,1356785.0,Austin,978908.0,Fort Worth,902938.0,41.896072
10,Florida,170312,138887,31424,21538187.0,18801310,28,Northern mockingbird,Orange blossom,In God we trust,...,907953,Miami,476329.0,Tampa,401189.0,Orlando,289191.0,St. Petersburg,265098.0,126.463121
34,New York,141297,122057,19240,20201249.0,19378102,26,Eastern bluebird,Rose,Excelsior!,...,8879928,Buffalo,251298.0,Rochester,206284.0,Yonkers,199663.0,Syracuse,142749.0,142.970120
41,Pennsylvania,119280,115883,3397,13002700.0,12702379,17,Ruffed Grouse,Mountain laurel,"Virtue, Liberty and Independence",...,1587828,Pittsburgh,301048.0,Allentown,126238.0,Erie,96471.0,Reading,88495.0,109.009893

In [19]:
#4. 
facts.sort_values(by='Area_land', ascending=False).head()
#Alaska, Texas, California, Montana, New Mexico

,State,Area_tot,Area_land,Area_water,Pop_2020,Pop_2010,Rep_seats,State_bird,State_flower,State_motto,...,city_1_pop,City_2,city_2_pop,City_3,city_3_pop,City_4,city_4_pop,City_5,city_5_pop,Popdensity
1,Alaska,1723337,1477953,245384,733391.0,710231,1,Willow ptarmigan,Forget-me-not,North to the Future,...,291538,Juneau,32113.0,Fairbanks,31516.0,Wasilla,10529.0,Sitka,8647.0,0.425564
47,Texas,695662,676587,19075,29145505.0,25145561,38,Northern mockingbird,Bluebonnet sp.,Friendship,...,2325502,San Antonio,1532233.0,Dallas,1356785.0,Austin,978908.0,Fort Worth,902938.0,41.896072
5,California,423967,403466,20501,39538223.0,37253956,52,California quail,California poppy,Eureka,...,3997984,San Diego,1425976.0,San Jose,1030119.0,San Francisco,884198.0,Fresno,530093.0,93.257784
28,Montana,380831,376962,3869,1084225.0,989415,2,Western meadowlark,Bitterroot,Oro y plata,...,116827,Missoula,74428.0,Great Falls,58701.0,Bozeman,48532.0,Butte,34284.0,2.846998
33,New Mexico,314917,314161,757,2117522.0,2059179,3,Greater roadrunner,Yucca flower,Crescit eundo,...,560218,Las Cruces,102926.0,Rio Rancho,98023.0,Santa Fe,84683.0,Roswell,47635.0,6.724064

In [22]:
facts.columns

Index(['State', 'Area_tot', 'Area_land', 'Area_water', 'Pop_2020', 'Pop_2010',
       'Rep_seats', 'State_bird', 'State_flower', 'State_motto', 'Motto_trans',
       'USPS_code', 'GDP_2020', 'GDP_2019', 'Capital', 'Capital_pop', 'City_1',
       'city_1_pop', 'City_2', 'city_2_pop', 'City_3', 'city_3_pop', 'City_4',
       'city_4_pop', 'City_5', 'city_5_pop', 'Popdensity'],
      dtype='object')

In [27]:
#5.
facts[facts['Capital']==facts['City_1']]

,State,Area_tot,Area_land,Area_water,Pop_2020,Pop_2010,Rep_seats,State_bird,State_flower,State_motto,...,city_1_pop,City_2,city_2_pop,City_3,city_3_pop,City_4,city_4_pop,City_5,city_5_pop,Popdensity
3,Arizona,295234,294207,1026,7151502.0,6392017,9,Cactus wren,Saguaro cactus blossom,Ditat Deus,...,1680992,Tucson,545975.0,Mesa,508958.0,Chandler,257165.0,Scottsdale,255310.0,24.223165
4,Arkansas,137732,134771,2961,3011524.0,2915918,4,Northern mockingbird,Apple blossom,Regnat populus,...,197312,Fort Smith,87845.0,Fayetteville,86751.0,Springdale,81029.0,Jonesboro,76990.0,21.865100
6,Colorado,269601,268431,1170,5773714.0,5029196,8,Lark bunting,Rocky Mountain columbine,Nil sine numine,...,727211,Colorado Springs,483829.0,Aurora,374114.0,Fort Collins,167830.0,Lakewood,156798.0,21.415774
9,District of Columbia,177,158,19,689545.0,601723,1*,Wood thrush,American Beauty Rose,Justitia Omnibus,...,702455,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3895.734463
11,Georgia,153910,148959,4951,10711908.0,9687653,14,Brown thrasher,Cherokee rose,"Wisdom, Justice, Moderation",...,506811,Augusta,196939.0,Columbus,194160.0,Macon,153095.0,Savannah,147181.0,69.598519
14,Idaho,216443,214045,2398,1839106.0,1567582,2,Mountain bluebird,"Syringa, mock orange",Esto perpetua,...,228959,Meridian,106894.0,Nampa,96252.0,Idaho Falls,63398.0,Caldwell,56541.0,8.496953
16,Indiana,94326,92789,1537,6785528.0,6483802,9,Northern cardinal,Peony,The crossroads of America,...,876384,Fort Wayne,267633.0,Evansville,117963.0,South Bend,103290.0,Carmel,99329.0,71.936985
17,Iowa,145746,144669,1077,3190369.0,3046355,4,Eastern goldfinch (American goldfinch),Wild rose,Our liberties we prize and our rights we will ...,...,214237,Cedar Rapids,133174.0,Davenport,102085.0,Sioux City,82396.0,Iowa City,76290.0,21.889925
23,Massachusetts,27336,20202,7134,7029917.0,6547629,9,Black-capped chickadee,Mayflower,Ense petit placidam sub libertate quietem,...,692600,Worcester,185877.0,Springfield,155032.0,Cambridge,118977.0,Lowell,111670.0,257.166996
26,Mississippi,125438,121531,3907,2961279.0,2967297,4,Northern mockingbird,Magnolia,Virtute et armis,...,160628,Gulfport,71870.0,Southaven,54944.0,Biloxi,45968.0,Hattiesburg,45951.0,23.607511
38,Ohio,116098,105829,10269,11799448.0,11536504,15,Northern cardinal,Scarlet carnation,"With God, all things are possible / Imperium i...",...,898553,Cleveland,382817.0,Cincinnati,302605.0,Toledo,273782.0,Akron,198006.0,101.633517
39,Oklahoma,181037,177660,3377,3959353.0,3751351,5,Scissor-tailed flycatcher,Oklahoma rose,Labor omnia vincit,...,655057,Tulsa,400669.0,Norman,123471.0,Broken Arrow,109471.0,Edmond,93127.0,21.870408
43,Rhode Island,4001,2678,1324,1097379.0,1052567,2,Rhode Island Red,Violet,Hope,...,179883,Cranston,81274.0,Warwick,80847.0,Pawtucket,71847.0,East Providence,47476.0,274.276181
46,Tennessee,109153,106798,2355,6910840.0,6346105,9,Northern mockingbird,Iris,Agriculture and commerce,...,670820,Memphis,650618.0,Knoxville,187500.0,Chattanooga,180557.0,Clarksville,163648.0,63.313331
49,Utah,219882,212818,7064,3271616.0,2763885,4,Hermit thrush,Sego lily,Industry,...,200567,West Valley City,136401.0,Provo,118178.0,West Jordan,116046.0,Orem,97521.0,14.878962
53,West Virginia,62756,62259,497,1793716.0,1852994,2,Northern cardinal,Rhododendron,Montani semper liberi,...,46536,Huntington,46048.0,Morgantown,30955.0,Parkersburg,29675.0,Wheeling,26771.0,28.582383
55,Wyoming,253335,251470,1864,576851.0,563626,1,Western meadowlark,Indian paintbrush,Equal Rights and Cedant arma togae.,...,64235,Casper,57461.0,Laramie,32473.0,Gillette,31903.0,Rock Springs,23082.0,2.277028

>Using the "state_dates.tsv" data, answer the remaining questions. You will need to merge the two data sets together:

>7) Of the states that joined the United States before 1790, what is the most common state flower?
>8) Which has the larger population density, the most dense US Territory or the least dense state?
>9) Make a graph that plots the populations of the largest city in each entity in the order in which they joined the US. Make the bars black
>10) Make two additional graphs like the one above but one for land area (green bars) and one for water area (blue bars)

Hint: `pd.read_csv('../data/state_dates.tsv',delimiter="\t")`

Hint: You likely want to convert the Date column to datetime. You might have to correct errors in the data as well.

Hint: `states['Date']<pd.datetime(1790,1,1)`

Hint: `pd.merge(****,****,left_on='USPS_code',right_on='Abbreviation',how='outer')`

In [10]:
# Sample code to help with the plots

#import matplotlib as plt
#%config InlineBackend.figure_format ='retina' #This makes your plot clearer


#plot = *your df by date*[[*column*,'Abbreviation']].plot(kind='bar',figsize=(10,4))
#plot.set_xticklabels(*your df by date*['Abbreviation']);